/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Roboto|Saira+Extra+Condensed');
/*used @import because it applies the fonts to all the HTML pages without cluttering the pages - this is a font pairing from fonts.google.com*/

/*Here is the colour scheme for this document: https://material.io/tools/color/#!/?view.left=1&view.right=0&primary.color=42A5F5&secondary.color=BDBDBD

Variants checked with Google Material Design(GMD) link above.

Accessibility Check GMD:  Primary Normal can have B&W text, Light can only have black text, vice versa for the Dark.  Secondary colour only uses black.

*/


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 5px;
    font-size: 18px;
    color: #444;

}

p {
    font-size: 0.7em;
    text-align: Justify;
    margin: 0.8em;
    padding: 0.1em;
}

h3 {
    text-align: center;
}



.logo {
    margin: 0.7em;
    width: 65px;
    height: 65px;
    border-radius: 2em;  
}

.websiteheader {
    background-color: #0077c2;
    font-family: 'Saira Extra Condensed', sans-serif;
    height: 5em;
    margin-top: 0em;
    border-radius: 8px;
}

.site-title {
    color: #FFF;
    text-align: center;
    align-content: center;
    margin-top: -3em;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 0.5em;
    letter-spacing: 0.15em;
}

@media (min-width:75em) {
    .site-title {
        color: #FFF;
        text-align: center;
        align-content: center;
        margin-top: -3.6em;
        font-size: 2.2em;
        font-weight: normal;
        margin-left: 0.5em;
        letter-spacing: 0.05em;
    }
}

.front-page {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    margin-top: 0.5em;
    padding-bottom: 1.2em;
    padding-top: 0.5em;
    color: #000;
    background: #a4a4a4;
    font-stretch: semi-expanded;
    font-weight: bold;
    border-radius: 15px;

}

.subtitle {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 1em;
    margin-top: -1.8em;
    color: #fff;
    background: #63a4ff;
    font-stretch: semi-expanded;

    text-align: center;
    border-radius: 8px;
}


.navbar {
    background-color: #8c8c8c;
    border-radius: 0.2em;
}

nav {
    float: right;
    margin: 25px;
    display: flex;
    align-content: center;
    flex-direction: row;
    text-align: center;
}


@media (min-width:50em){
    nav {
        margin: 20px;
        display: flex;
        align-content: space-around;
        flex-direction: column;
    }
}
@media (max-width:50em){
    .navbar {
        visibility: hidden;
        transition: all 0s;
    }
} 

ul a:hover {
    text-transform: height 1em, width 1em;
    text-shadow: #000; 
    transition: all 0.35s ease-in-out;

}

ul {
    list-style-type: none;
    text-align: center;
    transition: all 0.22s ease-out;
    
}

li {
    height: 25px;
    float: left;
    margin-right: 10px;
    border-right: 4px solid #eee;
    padding: 0 20px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.678);
    font: 1em/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    transition: all 0.27s ease-out;
}

li a:hover {
    color: #000;
    background-color: #80d6ff;
    font-weight: bolder;
    width: 1.4em;
    transition: all 0.27s ease-in;
    font: 1em/1 Helvetica, Verdana, sans-serif;
}

li.active a:hover {
    color: #000;
    background-color: #80d6ff;

}

li:last-child {
    border-right: none;
}

li.active a {
    font-weight: bold;
    color: #000;
    font-size: 1.4em/1, Verdana, Helvetica, sans-serif;
    background-color: #eee;
}

li.return a {
    font-style: normal;
    color: #80d6ff;
    font-size: 1em, "Poor Story", cursive;
    background-color: #8c8c8c;
    transition: all 1.95s ease-out;
}

li.return a:hover {
    font-weight: bold;
    color: white;
    font-size: 1.4em, "Poor Story", cursive;
    transition: all 1.9s ease-in;
}
li.return a:target {
    font-weight: bold;
    color: white;
    font-size: 1.4em, "Poor Story", cursive;
    transition: all 1.9s ease-in;
}


@media (max-width:80em) {
    .favimenu {
        visibility: visible;
        width: 2em;
        height: 2em;

    }

    .mobile-menu {
        visibility: visible;
        width: 3em;

    }
}


.articlesection {
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-radius: 1em;
}

.article-title {
    width: 100%;
}

.article-col {
    width: calc(100%/3);
    flex-direction: column;
    
    padding: 0.2em;
    font-family: 'Roboto', Sans-Serif;
}

.article-col>article {
    
    padding: 12px;
    border-radius: 6px;
    background-color: #eee;
}

.italica {
    font-style: italic;
    text-align: center;
}

.BOLD {
    text-align: center;
    font-weight: bolder;
}

.profile1 {
    float: left;
    padding: 0.6em;
    padding-bottom: 0.175em;
}

.profile2 {
    float: right;
    padding: 0.2em;
    padding-top: 0.5em; 
    padding-left: 0.3em;
}

.titlesection {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 1em;
    padding-top: -2.5em;
    border-radius: 1em;
    height: auto;
}
.titlesection2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 1em;
    margin-top: -2em;
    padding-top: -6em;
    border-radius: 1em;
    height: auto;
}

.italica {
    font-style: italic;
}

.title-col {
    width: calc(100%/2);
    column-width: auto;
    flex-direction: column;
    margin: 0.2em;
    padding: 0.1em;
    border-radius: 0.5em;
    background-color: #eee;
    font-family: 'Roboto', Sans-Serif;
    text-align: center;
}

.floatR {
    float: right;
    padding: 0.8em;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.centervid {
    width: 90%;
    padding-top: 0.8em;
    padding-bottom: 0.15em;
}
.centervid2 {
    float: left;
    width: 25%;
    padding: 0.8em;
}
.centervid2_5 {
    float: left;
    width: 45%;
    padding: 0.8em;
    padding-bottom: 0.15em;
}
.centervid3 {
    float: right;
    width: 35%;
    padding: 0.6em;
    padding-bottom: 0.15em;
}

.centervid4 {
    float: right;
    width: 25%;
    padding: 0.6em;
    padding-bottom: 0.15em;
}

.quote {
    font-weight: bold;
    font-size: 1.1em; 
    text-align: center;
}

@media (min-width: 80em){
    .quote {
        font-size: 1em;
        font-weight: bolder;
    }
}

.quote:hover {
    font-style: italic;
    font-weight: normal;
}

.titlesection {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 1em;
    padding-top: -2.5em;
    border-radius: 1em;
}

.title-col2 {
    width: auto;
    margin: 0em;
    margin-top: -0.75em;
    padding: 0.1em;
    border-radius: 0.5em;
    background-color: #eee;
    font-family: 'Roboto', Sans-Serif;
    text-align: center;
}

.center-text {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
}

.center-text:hover {
    font-weight: bold;
}

.linkbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}


@media (max-width:60em) {
    .articlesection {
        flex-direction: column;
        padding-top: 0.2em;

    }

    .titlesection {

        flex-direction: column;
        align-content: center;
        justify-content: space-between;

    }

    .title-col {
        width: auto;

    }

    .centervid {
        width: 80%;
        padding: 0.5em; 
    }

    .article-col {
        width: calc(100%/2);
        padding: 0.1em;

    }
}

@media (max-width:35em) {
    .articlesection {
        flex-direction: column;
        padding-top: 0.2em;
        width: auto;
    }

    .titlesection {

        flex-direction: column;
        align-content: center;
        justify-content: space-between;

    }

    .title-col {
        width: auto;
    }

    .centervid {
        width: 100%;
        align-content: center;
        padding: 1em;
    }
    /* .centervid2 {
        height: 512px;
        width: 100%;
    } */

    .article-col {
        width: auto;
        padding: 0.3em;

    }
}

.central-align {
    text-align: center;
}

h2 {
    font-family: 'Roboto', Sans-Serif;
    text-align: center;
}

.reviews-title {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 0.8em;
    margin-top: 2em;
    color: white;
    background: #63a4ff;
    border-color: #0077c2;
    font-stretch: semi-expanded;
    font-weight: bold;
    border-radius: 0.25em;
}

.reviews-title2 {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 0.65em;
    margin-top: 0.2em;
    color: white;
    background: #63a4ff;
    border-color: #0077c2;
    font-stretch: semi-expanded;
    font-weight: bold;
    border-radius: 0.25em;
}

.centraltext {
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    color: rgb(190, 190, 190);
    height: 2em;
    display: flex;
    flex-direction: column;
    column-count: 3;
    align-items: center;
    color: white;
}

@media (min-width:75em) {
    .centraltext {
        display: flex;
        flex-direction: column;
        column-count: 2;
        align-items: center;
    }
}

.ytVid {
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
}

.ytVid iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width:75em) {
    .ytVid {
        height: 56.55%;
    }
}

.title-x {
    color: white;
    font-weight: bold;
}

.copyright {
    line-height: 0.4em;
    font-size: 0.8em;
    align-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.footer {
    height: 3.5em;
    width: auto;
    display: flex;
    background-color: #8c8c8c;
    color: white;
    justify-content: flex-end;
    align-content: space-around;
    align-items: flex-start;
    margin: 0;
    border: 0;
    padding-top: 1em;
    padding-bottom: -1em;
    border-radius: 0.5em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
}