/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Poor+Story');

* {
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #444;
}

p{
    font-size: 0.7em;
    text-align: Justify;
    margin: 0.8em;
    
}

.box {
    float: right;
    text-align: center;
}

.logo {
    margin: 1.2em;
    
}

.websiteheader {
    background-color: darkgreen;
    height: 5em;
}


.navbar {
    background-color: white;
    background-color: #444;
}
  


nav {
    float: right;
    margin: 30px;
    display: flex;
    align-content: center;
    flex-direction: row;
    text-align: center;
}
  
ul a:hover {
    text-transform: height 0.8em, width 1.2em;
    transition: all 0.35s ease-in-out;
    
  }
  
ul {
    list-style-type: none;
    text-align: center;
    transition: all 0.22s ease-out;
}
  
li {
    height: 25px;
    float: left;
    margin-right: 10px;
    border-right: 4px solid #eee;
    padding: 0 20px;
    text-align: center;
}
  
li a {
    text-decoration: none;
    color: yellowgreen;
    font: 1em/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5em ease;
    
}
  
li a:hover{
    color: lawngreen;
    background-color: #444;
    font-size: 1.2em;
    transition: all 0.22s ease-out;
    font-weight: bolder;
}
  
li:last-child {
    border-right: none;
}
  
li.active a{
    font-weight: bold;
    font-size: 1.5em/1, Verdana, Helvetica, sans-serif;
    background-color: darkslategrey;
}


.site-title {
    color: palegoldenrod;
    text-align: center;
    align-content: center;
    float: right;
    text-emphasis: uppercase;
    font-weight: bold;

}


.mainarticle {
        position: relative;
        margin:	auto;
        width:	75%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 25px;
        padding-bottom: 2em;
        column-count: 4;
        column-gap: 2em;	
        column-rule: 2px dotted hsl(120, 100%, 34%);
}

.centraltext {
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    color: rgb(190, 190, 190);
    height: 2em;
    display: flex;
    flex-direction: column;
    column-count: 3;
    align-items: center;
    color: white;    
}

.title-x {
    color: white;
    font-weight: bold;
}


.footer {
  display: flex;
    flex-grow: initial;
    flex-flow: row;
    height: 7em;
    background-color: greenyellow;
    color: darkseagreen;
    text-align: center;
}